body {
    font-family: "Red Hat Display";
    font-size: 62.5%;
    background-color: var(--blue-100);
    background-image: url('../images/pattern-background-desktop.svg');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100% auto;
    width: 100vw;
    height: 900px;
    margin: 0; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-music-plan {
    width: 450px;
    min-height: 520px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

.container-card-music .container-img img {
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.container-info h1 {
    font-size: 1.5rem;
    font-weight: 800;
    text-align: center;
    margin-top: 20px;
}

.container-info p {
    
    padding: 20px;
    text-align: center;
    font-size: 1.2rem;
}

.card-plan {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center; 
    background-color: var(--blue-50);
    border-radius: 10px;
    width: 85%;
    margin-left: 30px;
}

.container-info .card-plan img {
    margin-left: -50px;
    display: flex;
    padding: 10px;
}

.card-plan .plan h3 {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: -50px;
}

a {
    font-size: 0.8rem;
    font-weight: 800;
}

.links {
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.link-payment {
    border: none;
    font-size: 1rem;
    font-weight: 700;
    margin-top: 10px;
    color: white;
    background-color: var(--blue-700);
    align-content: center;
    text-align: center;
    width: 85%;
    height: 50px;
    border-radius: 15px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}

.link-cancel {
    border: none;
    font-size: 1rem;
    font-weight: 700;
    text-align: center;
    margin-top: 20px;
    width: 80%px;
    height: 50px;
    
}

.texto {
    color: var(--gray-600);
}

.textDecoration{
    text-decoration: none;
}

@media (max-width: 768px) {
    body {
        background-image: none;
        background-color: var(--blue-100);
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        width: 100vw;
    }

    .container-music-plan {
        width: 90%;
        margin: 0;
        border-radius: 20px;
    }

    .container-info .card-plan img {
        width: 20%;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }
    
}
